<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- Primary Meta Tags -->
    <title>Агрокомплекс МОЯ МЕЧТА</title>
    <meta content="Агрокомплекс МОЯ МЕЧТА" name="title">
    <meta content="Агрокомплекс «МОЯ МЕЧТА» – крупнейший кролиководческий холдинг, расположенный в незапятнанной и экологически чистой зоне Ташкентской Области, спроектированный по итальянским технологиям." name="description">

    <!-- Open Graph / Facebook -->
    <meta content="website" property="og:type">
    <meta content="Агрокомплекс МОЯ МЕЧТА" property="og:title">
    <meta content="Агрокомплекс «МОЯ МЕЧТА» – крупнейший кролиководческий холдинг, расположенный в незапятнанной и экологически чистой зоне Ташкентской Области, спроектированный по итальянским технологиям." property="og:description">
    <meta content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>" name="viewport">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <!-- quasar:entry-point -->
</body>

</html>
